@inherits LayoutComponentBase

<PageTitle>CONNECT4</PageTitle>

<div class="page">
    <main>
        <div class="top-row">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&autoplay=1" target="_blank" class="about-link">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>