@inherits LayoutComponentBase

<PageTitle>CONNECT4</PageTitle>

<div class="page">
    <!-- Remove the sidebar div containing NavMenu -->
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->

    <main>
        <div class="content px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>